# IDE/OS specific
.idea
.vscode
.DS_Store

# application
/pkgstats*.db*
/dist
/node_modules
/internal/ui/packagepage/icons/*
!/internal/ui/packagepage/icons/.gitkeep
*_templ.go
/tmp/*
!/tmp/.gitkeep
/pkgstatsd

# development
/fixtures
/migrate-data

# old Symfony directories/files
.cache
api/*
app/*
