# IDE/OS specific
.idea
.vscode
.DS_Store

# application
/pkgstats*.db*
/dist
/node_modules
/internal/ui/packagelist/icons/*
!/internal/ui/packagelist/icons/.gitkeep
*_templ.go
/tmp/*
!/tmp/.gitkeep
/pkgstatsd
/.assets-rebuilt

# development
/fixtures
/migrate-data
/spec

# old Symfony directories/files
.cache
api/*
app/*
