includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-doctrine/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-symfony/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
	level: max
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml'
	autoload_directories:
		- %rootDir%/../../../src/Migrations
	paths:
		- src
		- tests
		- public
		- config
		- bin
	ignoreErrors:
		- '#^Service "test\.client" is not registered in the container\.$#'
