package components

import "fmt"

templ PopularityBar(popularity float64) {
	<div class="progress bg-transparent progress-large" title={ fmt.Sprintf("%.2f%%", popularity) }>
		<div
			class="progress-bar"
			role="progressbar"
			aria-valuemin="0"
			aria-valuemax="100"
			style={ fmt.Sprintf("width: %.2f%%", popularity) }
			aria-valuenow={ fmt.Sprintf("%.2f", popularity) }
		>
			if popularity > 5 {
				{ fmt.Sprintf("%.2f%%", popularity) }
			}
		</div>
	</div>
}
