package components

import "fmt"

templ PopularityBar(popularity float64) {
	<div class="progress bg-transparent progress-large" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow={ fmt.Sprintf("%.2f", popularity) } title={ fmt.Sprintf("%.2f%%", popularity) }>
		<div
			class="progress-bar"
			style={ fmt.Sprintf("width: %.2f%%", popularity) }
		>
			if popularity > 5 {
				{ fmt.Sprintf("%.2f%%", popularity) }
			}
		</div>
	</div>
}
