version: "3.8"

services:
  cypress:
    image: cypress/included:11.1.0
    depends_on:
      - nginx
    environment:
      - CYPRESS_baseUrl=${CYPRESS_baseUrl:-http://localhost:${PORT}}
      - CYPRESS_numTestsKeptInMemory=100
      - DISPLAY
    entrypoint: cypress
    ipc: host
    network_mode: host
    userns_mode: host
    working_dir: /app
    volumes:
      - ../app:/app:ro
      - ../app/tests/e2e:/app/tests/e2e:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
    tmpfs:
      - /tmp
