{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue"
  ],
  "plugins": [
    "stylelint-no-unsupported-browser-features",
    "stylelint-scss"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [
      true,
      {
        "ignore": []
      }
    ],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
