@import "bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$ct-series-names: (a, b, c, d, e, f, g, h, i, j);
$ct-series-colors: (
  $primary,
  $danger,
  $success,
  $warning,
  $info,
  $pink,
  $orange,
  $secondary,
  $purple,
  $gray-500
);

@import "~chartist/dist/scss/chartist";

.ct-legend {
  list-style: none;

  li {
    padding-left: 10px;
    margin-bottom: 5px;
    float: left;
    font-weight: bold;
  }

  /* stylelint-disable-next-line at-rule-no-unknown */
  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i} {
      color: nth($ct-series-colors, $i + 1);
    }
  }
}

.ct-chart {
  .spinner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
