{% extends 'base.html.twig' %}

{% block title %}Fun statistics{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/fun') }}
{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Fun statistics</h1>
        <div id="app">
            <fun-statistics></fun-statistics>
        </div>
    </main>
{% endblock %}
