{% extends 'base.html.twig' %}

{% block title %}Impressum{% endblock %}

{% block robots %}noindex{% endblock %}

{% block body %}
    <h1 class="mb-4">Impressum</h1>
    <div class="d-inline-flex">
        <table class="table table-sm">
            <tbody>
            <tr>
                <th></th>
                <td>Pierre Schmitz</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>Saarstr. 1<br/>
                    53175 Bonn<br/>
                    Germany
                </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>+49 228 9716608</td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td><a href="mailto:pierre@archlinux.de">pierre@archlinux.de</a> (Arch Linux)<br/>
                    <a href="mailto:mail@pierre-schmitz.com">mail@pierre-schmitz.com</a> (Private)
                </td>
            </tr>
            <tr>
                <th>IRC</th>
                <td>pierres on freenode.net</td>
            </tr>
            <tr>
                <th>Web</th>
                <td><a href="https://pierre-schmitz.com/">pierre-schmitz.com</a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
