<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {{ encore_entry_link_tags('main') }}
    <title></title>
</head>
<body>
<app id="app"></app>
{{ encore_entry_script_tags('main') }}
</body>
</html>
