{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/packages') }}
{% endblock %}

{% block title %}Package statistics{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Package statistics</h1>
        <div id="app"
             data-packages-url="{{ path('app_api_packages', {'startMonth': startMonth, 'endMonth': endMonth, 'limit': limit}) }}"
             data-package-url-template="{{ path('app_package', {'package': '_package_'}) }}">
            <package-list></package-list>
        </div>
    </main>
{% endblock %}
