{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/packages') }}
{% endblock %}

{% block title %}Package statistics{% endblock %}

{% block body %}
    <main role="main" class="container-fluid">
        <h1 class="mb-4">Package statistics</h1>
        <div id="app">
            <package-list :initial-query="initialQuery" :limit="20"></package-list>
        </div>
    </main>
{% endblock %}
