{% extends 'base.html.twig' %}

{% block title %}API documentation{% endblock %}

{% block robots %}noindex{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/swagger_ui') }}
{% endblock %}

{% block body %}
    <div id="swagger-ui" data-url="{{ path('app_swagger') }}"></div>
{% endblock %}
