@use "sass:map";

.navbar-border-brand {
    border-bottom: 0.3125rem solid $primary;
}

.progress-large {
    height: 2em;
}

pre:has(> code) {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-secondary-color);
    border-width: $border-width;
    border-style: $border-style;
    border-color: var(--bs-border-color);
    padding: map.get($gutters, 2);
}

.code-link {
    color: inherit;

    &:hover {
        color: inherit;
    }
}
