@use "sass:map";
@use "svgmap-variables" with (
    $textColor: var(--bs-body-color),
    $textColorLight: var(--bs-secondary-color),
    $oceanColor: transparent,
    $mapActiveStrokeColor: var(--bs-link-hover-color),
    $mapControlsColor: var(--bs-body-color),
    $mapControlsBackgroundColor: var(--bs-body-bg),
    $mapTooltipColor: var(--bs-body-color),
    $mapTooltipBackgroundColor: var(--bs-body-bg),
);
@use "svgmap-styles";

$primary: #08c;
$secondary: #333;
$dark: $secondary;
$light: #f6f9fc;
$enable-rounded: false;
$body-bg: $light;
$body-color: $dark;
$link-hover-color: #666;
$navbar-dark-hover-color: #fff;
$font-size-base: 0.875rem;
$navbar-brand-padding-y: 0.14rem;
$min-contrast-ratio: 3;
$link-decoration: none;
$link-hover-decoration: underline;
$color-mode-type: media-query;

@import "bootstrap/scss/bootstrap.scss";

.navbar-border-brand {
    border-bottom: 0.313rem solid $primary;
}

.progress-large {
    height: 2em;
}

pre:has(> code) {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-secondary-color);
    border-width: $border-width;
    border-style: $border-style;
    border-color: var(--bs-border-color);
    padding: map.get($gutters, 2);
}

#page {
    position: relative;
    min-height: 100vh;
}

#content {
    padding-bottom: 2.3rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.3rem;
}

.code-link {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.chart-preview-grid {
    display: none;

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.chart-preview-overlapping {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
    z-index: 2;
}

.chart-preview-underlying {
    grid-row: 2 / span 4;
    grid-column: 2 / span 3;
}
