parameters:
	level: max
	treatPhpDocTypesAsCertain: false
	symfony:
		containerXmlPath: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	doctrine:
		objectManagerLoader: tests/object-manager.php
	paths:
		- src
		- tests
		- public
		- config
		- bin
		- migrations
	excludePaths:
		- public/index.php
		- tests/bootstrap.php
		- tests/object-manager.php
