parameters:
	level: max
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	paths:
		- src
		- tests
		- public
		- config
		- bin
		- migrations
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
