parameters:
	level: max
	symfony:
		container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
	doctrine:
		objectManagerLoader: tests/object-manager.php
	paths:
		- src
		- tests
		- public
		- config
		- bin
		- migrations
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		-
			# ORM ensures correct types
			message: '#Method .+ should return .+ but returns (array|mixed)#'
			paths:
				- src/Repository
