name: CI

on:
    push:
    pull_request:

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5
            - name: Run Common Setup
              uses: ./.github/actions/setup
            - name: Run Linter
              run: just lint

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5
            - name: Run Common Setup
              uses: ./.github/actions/setup
            - name: Run Tests
              run: just test

    build:
        runs-on: ubuntu-latest
        needs: [lint, test]
        steps:
            - name: Checkout repository
              uses: actions/checkout@v5
            - name: Run Common Setup
              uses: ./.github/actions/setup
            - name: Build Application
              run: just build
